In [1]:
import pandas as pd

### Read the dataset

In [3]:
cars = pd.read_csv('../Linear_regression/Cars.csv')
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [4]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      81 non-null     int64
 1   MPG     81 non-null     float64
 2   VOL     81 non-null     int64
 3   SP      81 non-null     float64
 4   WT      81 non-null     float64
dtypes: float64(3), int64(2)
memory usage: 3.3 KB

### Separate data into X And y

In [5]:
X = cars[['HP','VOL','SP']]
y = cars['MPG']

In [6]:
X.head()

   HP  VOL          SP
0  49   89  104.185353
1  55   92  105.461264
2  55   92  105.461264
3  70   92  113.461264
4  53   92  104.461264

In [7]:
y.head()

0    53.700681
1    50.013401
2    50.013401
3    45.696322
4    50.504232
Name: MPG, dtype: float64

### Split the data into training and testing

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [10]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((64, 3), (17, 3), (64,), (17,))

### Create the model

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
model = LinearRegression()

In [13]:
# Train the model
model.fit(X_train,y_train)

LinearRegression()

In [14]:
yhat_train = model.predict(X_train)

In [15]:
yhat_train

array([35.44851061, 36.11396537, 47.34714869, 29.05822886, 25.16140106,
       41.85158945, 23.54122372, 29.37185241, 36.13286133, 26.41121887,
       40.23224159, 26.53937791, 37.30363404, 32.16485595, 41.81104355,
       18.69817976, 38.1854652 , 41.23571047, 13.50948623, 46.50586343,
       24.74383193, 22.17916572, 36.92661752, 28.54882422, 34.06699845,
       41.23571047, 41.85158945, 28.95120978, 32.96507855, 42.39726272,
       34.96246974, 37.25867522, 41.33537877, 34.93364604, 37.24810184,
       36.36627068, 34.89566364, 36.0386394 , 35.19383234, 15.39600361,
       34.2392387 , 41.23571047, 40.838064  , 30.07836312, 38.1854652 ,
       37.23599852, 28.86210809, 37.97267905, 39.33798763, 35.74495202,
       32.96507855, 37.43328162, 41.26619975, 37.10737763, 24.11892302,
       32.96507855, 38.18527467, 42.86594442, 23.51854703, 38.35751486,
       35.16058902, 47.95533727, 39.07920916, 18.53515322])

## Calculate the metrics for training data

In [19]:
from sklearn.metrics import mean_squared_error
import numpy as np

In [18]:
train_mse = mean_squared_error(y_train,yhat_train)
train_mse

19.189268297089896

In [21]:
train_rmse = np.sqrt(train_mse)
train_rmse

4.380555706424688

### Predict yhat for testing data and get testing metrics

In [22]:
yhat_test = model.predict(X_test)

In [23]:
test_mse = mean_squared_error(y_test,yhat_test)
test_mse

18.65000099755098

In [25]:
test_rmse = np.sqrt(test_mse)
test_rmse

4.318564691833501